{{!-- <div class="container">
    <footer class="footer fixed-bottom container ">
        <hr>
        <p class="footer-custom">&copy; 2017 Company, Inc.</p>
    </footer>
</div> --}}



<div class="container mt-4" id="footer">
    <footer>
        <p class="footer-custom">&copy; 2017 Company, Inc.</p>
    </footer>
</div>